@mixin sassy-checkbox {
  position: absolute;
  left: -1000rem;

  + label {
    position: relative;
    cursor: pointer;
    margin-right: rem(15px);
    padding-left: rem(25px);
    font-size: rem(14px);

    &::before {
      content: '';
      position: absolute;
      left: 0;
      bottom: 0;
      height: rem(16px);
      width: rem(16px);
      border-radius: rem(3px);
      background-color: $sassy-base-color;
      font-family: sans-serif;
    }

    &::after {
      content: '';
      opacity: 0;
      transition: opacity 0.3s;
    }
  }

  /* Not depending on the user's font here improves consistency. */
  &:checked + label::after {
    content: '';
    position: absolute;
    display: block;
    opacity: 1;
    left: rem(5px);
    top: 0;
    width:  rem(3px);
    height: rem(11px);
    border: solid $sassy-accent-color;
    border-width: 0 rem(3px) rem(3px) 0;
    transform: rotate(45deg);
    line-height: rem(16px);
  }

  &:focus + label::before {
    box-shadow: 0 rem(1px) 0 darken($sassy-base-color, 30%);
  }

  &:disabled {
    + label {
      cursor: not-allowed;

      &::before {
        background-color: $sassy-disabled-color;
      }
    }

    &:checked + label::after {
      border-color: darken($sassy-disabled-color, 20%);
    }
  }
}
